.carded-view
  .card-container
    .loader(ng-if="vm.showLoader")
      .loader-content
    .the-mask

    md-card(resize-card).init-min-height
      md-card-content.custom-card
        h1 FBC Landing Metrics here