footer {
  background-color: #aaa;

  @include respondTo(phone) {
    padding: 35px 0;
  }
  span,
  p {
    color: $meineke-white;
    text-align: center;
    z-index: 9900;
  }
  a {
    color: $meineke-white;
    &:hover,
    &:active,
    &:focus {
      color: $meineke-yellow;
    }
  }
  .footer-title {
    color: $meineke-yellow;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 15px;
    text-transform: uppercase;

    @include font-family-heavy;
    a {
      color: $meineke-yellow;
    }
  }
  .logo-container {
    margin-top: 37px;
    overflow: auto;

    @include respondTo(phone) {
      margin-top: 0;
    }
    img,
    p {
      float: left;
    }
    img {
      margin-right: 20px;
    }
    p {
      margin: 10px 10px 0 0;
      span {
        margin: 0 5px;
      }
    }
  }
  .left-block,
  .social-block {
    padding: 40px 0 30px;
  }
  .left-block {
    border-right: 1px solid #49494e;
    width: 58.2%;

    @include respondTo(phone) {
      padding-bottom: 0;
    }
  }
  .social-block {
    padding-left: 30px;

    @include respondTo(phone) {
      overflow: auto;
      padding: 0;
    }
    ul {
      @include respondTo(phone) {
        padding-bottom: 30px;
      }
    }
    p {
      text-transform: uppercase;
    }
    .footer-text {
      text-indent: -99999px;
    }
  }
  .footer-app {
    border-top: 1px solid $meineke-white;
    margin-right: 40px;
    margin-top: 30px;
    padding-top: 35px;
  }
  .footer-app-content {
    overflow: hidden;
    padding-left: 20px;
    a {
      display: block;
    }
    .footer-app-title {
      color: $meineke-white;
      font-size: 23px;
      margin-bottom: 10px;

      @include font-family-demi;
      @include respondTo(maxTablet) {
        font-size: 16px;
      }
    }
    .footer-app-button {
      font-size: 18px;
      padding-bottom: 6px;
      padding-top: 6px;

      @include font-family-demi;
    }
  }
  .mobile-content {
    @include respondTo(phone) {
      padding-left: 15%;
    }
    @include respondTo(phoneSmall) {
      margin: 0 auto;
      padding-left: 0;
      width: 265px;
    }
    h4 {
      a {
        @include respondTo(phone) {
          text-decoration: underline;
        }
      }
    }
  }
  // Panel styles
  .panel {
    background-color: transparent;
    border-color: transparent;
  }
  .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top: none;
  }
  .panel-body {
    padding: 0;
  }
  .panel-default {
    > .panel-heading {
      background-color: transparent;
      border-color: transparent;
      color: #fff;
      display: inline-block;
      padding: 0;
      h4 {
        font-size: 18px;
        line-height: 18px;
        text-transform: uppercase;
      }
      a {
        font-size: 15px;
        line-height: 15px;
      }
    }
  }
}

.brands-block {
  padding: 15px 0;
  h3 {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
  }
  .brands-logos {
    @include flex($wrap: wrap, $justify: space-around);
  }
  a {
    background-image: url(../resources/images/footer/footer-logos.png);
    display: inline-block;
    -webkit-filter: grayscale(100%);
            filter: greyscale(100%);
    height: 50px;
    margin-right: 5px;
    width: 100px;
    @for $index from 1 through 10 {
      &:nth-of-type(#{$index}) {
        background-position: $index * (-110px) + 110 0;
      }
    }
    &:hover {
      -webkit-filter: grayscale(0%);
              filter: greyscale(0%);
    }
  }
}
